@mixin flex($values) {
  -moz-box-flex:    $values;
  -webkit-flex:     $values;
  -ms-flex:         $values;
  flex:             $values;
}

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-align($position) {
  -moz-box-align-items:    $position;
  -webkit-align-items:     $position;
  -ms-align-items:         $position;
  align-items:             $position;
}

@mixin flex-basis($size) {
  -moz-box-flex-basis:    $size;
  -webkit-flex-basis:     $size;
  -ms-flex-basis:         $size;
  flex-basis:             $size;
}

@mixin flex-justice($position) {
  -moz-box-justify-content:    $position;
  -webkit-justify-content:     $position;
  -ms-justify-content:         $position;
  justify-content:             $position;
}

@mixin flex-order($position) {
  -webkit-box-ordinal-group: $position;
  -moz-box-ordinal-group:    $position;
  -ms-flex-order:            $position;
  -webkit-order:             $position;
  order:                     $position;
}
