#landing {
  @include span-columns(12);
  height: 100vh;

  #landing-header {
    @include span-columns(12);
    height: 35vh;
    background-image: image-url('landing-header.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    #landing-title {
      display: flex;
      justify-content: space-between;

      #landing-site-navigation {
        ul li {
          display: inline-block;
          padding-right: 1em;

          a {
            color: white;
          }
        }
      }
    }

    #landing-carousel {
      display: flex;
      justify-content: center;

      #landing-play-icon {
        @include size(75px);
      }
    }

    #landing-carousel-title {
      display: flex;
      justify-content: center;

      h1 {
        color: white;
        font-size: 1.5em;
      }
    }

    #landing-carousel-subtitle {
      display: flex;
      justify-content: center;

      h2 {
        color: white;
        font-size: 1.2em;
      }
    }

    #landing-sign-up {
      display: flex;
      justify-content: center;

      .landing-input {
        padding: 0.5em;
        margin-right: 1em;
      }

      .btn-landing {
        margin-right: 1em;
      }
    }
  }

  #landing-content {
    @include span-columns(12);
    height: 55vh;

    #landing-how-it-works {
      @include span-columns(12);
      height: 15vh;
    }

    #landing-cases {
      @include span-columns(12);
      height: 15vh;
    }

    #landing-our-editors {
      @include span-columns(12);
      height: 15vh;
    }

    #landing-pricing {
      @include span-columns(12);
      height: 20vh;
    }

    #landing-get-started {
      @include span-columns(12);
      height: 5vh;
    }
  }

  #landing-footer {
    @include span-columns(12);
    height: 5vh;
  }
}
