#landing-cases {
  @include span-columns(12);
  background: #EBEBEB;
  height: 450px;
  margin: 0 auto;
  padding: 2em 0;
  text-align: center;

  h2.cases-title {
    margin-bottom: 0.1em;
  }

  p.cases-subtitle {
    margin-top: 0.1em;
    padding-bottom: 0.8em;
  }

  #landing-cases-arrow-left {
    @include span-columns(1 of 12);
    height: 90%;

    .btn-arrow {
      padding-top: 100px;
    }
  }

  #landing-cases-carousel {
    @include span-columns(10 of 12);
    height: 90%;
  }

  #landing-cases-arrow-right {
    @include span-columns(1 of 12);
    height: 90%;

    .btn-arrow {
      padding-top: 100px;
    }
  }
}

.carousel-cases {
  @include size(200px 300px);

  img {
    @include size(250px 175px);
    display: block;
    margin: 0 auto;
  }

  .case-icon {
    @include size(15px);
    display: inline;
    padding-right: 5px;
  }

  .case-type {
    font-weight: 700;
    padding: 0.8em 0;
  }

  hr {
    border: solid 1px green;
    margin: 0 auto;
    width: 150px;
  }

  .case-description {
    font-size: 0.7em;
    margin: 0 5em;
    padding-top: 10px;
  }
}

.arrow-left, .arrow-right { @include size(50px); }
