#landing-content {
  @include span-columns(12);

  #landing-how-it-works {
    @include span-columns(8);
    @include shift(2);
    padding: 1em 0;

    #landing-work-steps {
      clear: both;
      display: flex;
      justify-content: space-between;
      padding: 4em 0;
      text-align: center;
    }
  }

  #landing-cases {
    @include span-columns(12);
    background: #EBEBEB;
    padding: 4em 0;

    h2.cases-title {
      margin-bottom: 0.1em;
      text-align: center;
    }

    p.cases-subtitle {
      margin-top: 0.1em;
      padding-bottom: 25px;
      text-align: center;
    }

    #landing-cases-arrow-left {
      @include span-columns(1 of 12);

      .btn-arrow {
        padding-top: 100px;
      }
    }

    #landing-cases-carousel {
      @include span-columns(10 of 12);
      padding-top: 20px;
    }

    #landing-cases-arrow-right {
      @include span-columns(1 of 12);

      .btn-arrow {
        padding-top: 100px;
      }
    }
  }

  #landing-editors {
    @include span-columns(12);
    padding: 4em 0;

    h2.editors-title {
      margin-bottom: 0.1em;
      text-align: center;
    }

    p.editors-subtitle {
      margin-top: 0.1em;
      padding-bottom: 25px;
      text-align: center;
    }

    #landing-editors-arrow-left {
      @include span-columns(1 of 12);

      .btn-arrow {
        padding-top: 100px;
      }
    }

    #landing-editors-carousel {
      @include span-columns(10 of 12);
    }

    #landing-editors-arrow-right {
      @include span-columns(1 of 12);

      .btn-arrow {
        padding-top: 100px;
      }
    }
  }

  #landing-pricing {
    @include span-columns(12);
    background: #EBEBEB;
    padding: 4em 0;

    h2 {
      margin-bottom: 0.1em;
    }

    p {
      margin-top: 0.1em;
    }

    #landing-pricing-table-header {
      @include span-columns(10);
      @include shift(1);
      display: flex;
      justify-content: space-between;
      padding-top: 50px;

      #landing-teaser-reel-header {
        @include span-columns(3 of 10);
      }

      #landing-premium-reel-header {
        @include span-columns(3 of 10);
        background: #16A085;
        color: white;
        padding-top: 10px;
        text-align: center;
        vertical-align: middle;
      }

      #landing-vip-reel-header {
        @include span-columns(3 of 10);
      }
    }

    #landing-pricing-table {
      @include span-columns(10);
      @include shift(1);
      display: flex;
      height: 550px;
      justify-content: space-between;

      #landing-teaser-reel {
        @include span-columns(3 of 10);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 500px;
        border: 1px solid #16A085;
        padding: 25px;
        text-align: center;
      }

      #landing-premium-reel {
        @include span-columns(3 of 10);

        #landing-premium-reel-content {
          display: flex;
          flex-direction: column;
          height: 550px;
          justify-content: space-between;
          border: 5px solid #16A085;
          padding: 25px;
          text-align: center;
        }
      }

      #landing-vip-reel {
        @include span-columns(3 of 10);
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: space-between;
        border: 1px solid #16A085;
        padding: 25px;
        text-align: center;

      }
    }
  }

  #landing-get-started {
    @include size(100px);
    @include span-columns(12);
    background: #16A085;

    #landing-get-started-content {
      @include span-columns(12);
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      background: #16A085;
      color: white;

      span {
        padding-right: 50px;
      }
    }
  }
}

.carousel-cases {
  height: 350px;
  width: 250px;

  img {
    display: block;
    height: 200px;
    width: 250px;
    margin: 0 auto;
  }

  .case-type {
    font-weight: 700;
    text-align: center;
  }

  hr {
    border: solid 1px green;
    width: 150px;
  }

  .case-description {
    font-size: 0.7em;
    text-align: center;
    margin: 0 5em;
    padding-top: 20px;
  }
}

.carousel-editor {
  height: 350px;
  width: 250px;

  img {
    display: block;
    height: 200px;
    width: 250px;
    margin: 0 auto;
  }

  .editor-title {
    margin: 0.8em 0.8em 0.1em 0.8em;
    text-align: center;
  }

  .editor-position {
    color: #16A085;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0.1em;
    text-align: center;
  }

  .editor-description {
    font-size: 0.7em;
    margin: 0 5em;
    padding-top: 20px;
    text-align: center;
  }
}

.reel-pricing {
  font-size: 2em;
  color: #16A085;
}

.watch-example { color: #16A085; }

.get-started-wrap { margin-top: 70px; }

#landing-cloud-icon,
#landing-pencil-icon,
#landing-screen-icon { @include size(50px); }

.arrow-left, .arrow-right { @include size(50px); }

.pricing-table-play { @include size(20px); }
