#landing-footer {
  @include size(100px);
  @include span-columns(12);
  background: #141414;
  display: flex;
  justify-content: space-between;

  #landing-footer-logo {
    @include span-columns(4);
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      @include size(200px 30px);
    }
  }

  #landing-footer-links {
    @include span-columns(4);
    align-items: center;
    display: flex;
    justify-content: center;

    ul li {
      display: inline-block;
      padding-right: 1em;

      a {
        color: white;
      }
    }
  }

  #landing-footer-social_media {
    @include span-columns(4);
    align-items: center;
    display: flex;
    justify-content: space-between;

    ul li {
      display: inline;
    }
  }
}

#facebook, #twitter, #youtube { @include size(40px); }
