#landing-footer {
  @include span-columns(12);
  @include flex-center;
  background: #141414;
  height: 100px;

  #landing-footer-logo {
    @include span-columns(3);

    img {
      @include size(200px 30px);
    }
  }

  #landing-footer-links {
    @include span-columns(4);

    ul li {
      display: inline;
      padding-right: 1em;

      a {
        color: white;
      }
    }
  }

  #landing-footer-social_media {
    @include span-columns(3);

    ul li {
      display: inline;
    }
  }
}

#facebook, #twitter, #youtube { @include size(40px); }
