#landing-footer {
  @include size(100px);
  @include span-columns(12);
  background: #141414;

  #landing-footer-logo {
    @include span-columns(3);
    @include shift(1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      @include size(200px 30px);
    }
  }

  #landing-footer-links {
    @include span-columns(3);
    @include shift(1);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    ul li {
      display: inline-block;
      padding-right: 1em;

      a {
        color: white;
      }
    }
  }

  #landing-footer-social_media {
    @include span-columns(3);
    @include shift(1);

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    ul li {
      display: inline;
    }
  }
}

#facebook, #twitter, #youtube { @include size(40px); }
