#landing-get-started {
  @include size(100px);
  @include span-columns(12);
  background: #16A085;

  #landing-get-started-content {
    @include span-columns(12);
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    height: 100%;
    background: #16A085;
    color: white;

    span {
      padding-right: 50px;
    }
  }
}
