#landing-header {
  background-image: image-url('landing/header.jpg');
  background-size: 100%;
  background-repeat: no-repeat;

  #landing-site-navigation {
    @include flexbox;
    @include flex-justice(space-between);

    #landing-dir-logo {
      padding: 1em;

      img {
        @include size(200px 40px);
      }
    }

    #landing-navigation-links {
      padding-right: 1em;

      ul li {
        display: inline-block;
        padding-right: 1em;

        a {
          color: white;
        }
      }
    }
  }

  #landing-play {
    @include flexbox;
    @include flex-justice(center);
    padding-top: 100px;

    #landing-play-icon {
      @include size(75px);
    }
  }

  #landing-title {
    @include flexbox;
    @include flex-justice(center);

    h1 {
      color: white;
      font-size: 1.5em;
    }
  }

  #landing-subtitle {
    @include flexbox;
    @include flex-justice(center);

    span {
      color: white;
      font-size: 1.2em;
    }
  }

  #landing-sign-up {
    @include flexbox;
    @include flex-justice(center);
    padding: 100px 0 100px 0;

    .landing-input {
      padding: 0.5em;
      margin-right: 1em;
    }

    .btn-landing {
      font-weight: 700;
      margin-right: 1em;
    }
  }
}

#landing-facebook-icon { height: 0.8em; }
