#landing-header { height: 100%; }

#landing-header-background {
  background-image: image-url('landing/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 85%;

  #landing-site-navigation {
    @include display(flex);
    @include justify-content(space-between);
    height: 15%;

    #landing-dir-logo {
      @include flex-center;
      padding-left: 1em;
    }

    #landing-navigation-links {
      @include flex-center;

      ul li {
        display: inline;
        padding-right: 1em;

        a {
          color: white;
        }
      }
    }
  }

  #landing-play {
    @include flex-center;
    height: 35%;

    #landing-play-icon {
      @include size(75px);
    }
  }

  #landing-title {
    @include display(flex);
    @include justify-content(center);
    height: 10%;

    h1 {
      color: white;
      font-size: 1.5em;
    }
  }

  #landing-subtitle {
    @include display(flex);
    @include justify-content(center);
    height: 20%;

    span {
      color: white;
      font-size: 1.2em;
    }
  }

  #landing-sign-up {
    @include display(flex);
    @include justify-content(center);
    @include size(100% 20%);
    margin: 0 auto;

    .sign-up-input {

      margin: 1em;

      .landing-input {
        padding: 0.5em;
      }
    }

    #landing-btn-get-started {
      margin: 1em;

      .btn-get-started {
        font-weight: 700;
        width: 100%;
      }

      p {
        color: white;
        font-size: 0.8em;

        a {
          color: white;
          text-decoration: underline;
        }
      }
    }

    #landing-btn-facebook {
      margin: 1em;

      #btn-facebook {
        width: 100%;
        font-weight: 700;

        #landing-facebook-icon {
          height: 0.8em;
        }
      }
    }
  }
}

#landing-how-it-works-title {
  @include flex-center;
  height: 15%;

  h2 {
    letter-spacing: 0.2em;
  }
}


// @media (max-width: 500px) {
//   #landing-header { height: 100%; }

//   #landing-header-background {
//     background-image: image-url('landing/header.jpg');
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center center;
//     background-attachment: fixed;
//     height: 85%;

//     #landing-site-navigation {
//       @include display(flex);
//       @include justify-content(space-between);
//       height: 25%;

//       #landing-dir-logo {

//         img {
//           @include size(150px);
//         }
//       }

//       #landing-navigation-links {
//         @include flex-center;

//         ul li {
//           display: block;

//           a {
//             color: white;
//             font-size: 0.8em;
//           }
//         }
//       }
//     }

//     #landing-play {
//       @include flex-center;
//       height: 25%;

//       #landing-play-icon {
//         @include size(75px);
//       }
//     }

//     #landing-title {
//       @include display(flex);
//       @include justify-content(center);
//       height: 10%;

//       h1 {
//         color: white;
//         font-size: 1.5em;
//       }
//     }

//     #landing-subtitle {
//       @include display(flex);
//       @include justify-content(center);
//       height: 20%;

//       span {
//         color: white;
//         font-size: 1.2em;
//       }
//     }

//     #landing-sign-up {
//       @include display(flex);
//       @include justify-content(center);
//       @include size(100% 20%);
//       margin: 0 auto;

//       .sign-up-input {

//         margin: 1em;

//         .landing-input {
//           padding: 0.5em;
//         }
//       }

//       #landing-btn-get-started {
//         margin: 1em;

//         .btn-get-started {
//           font-weight: 700;
//           width: 100%;
//         }

//         p {
//           color: white;
//           font-size: 0.8em;

//           a {
//             color: white;
//             text-decoration: underline;
//           }
//         }
//       }

//       #landing-btn-facebook {
//         margin: 1em;

//         #btn-facebook {
//           width: 100%;
//           font-weight: 700;

//           #landing-facebook-icon {
//             height: 0.8em;
//           }
//         }
//       }
//     }
//   }

//   #landing-how-it-works-title {
//     @include flex-center;
//     height: 15%;

//     h2 {
//       letter-spacing: 0.2em;
//     }
//   }

//   #btn-sign-in {
//     border: 2px white solid;
//     color: black;
//     padding: 0.2em;
//     font-size: 0.8em;
//   }
// }
