.btn-landing {
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
}

.btn-get-started { background: #16A085; }

#btn-facebook { background: #3B5998; }

.btn-arrow {
  background: transparent;
  border: 0;
}

#btn-get-started-section {
  background: transparent;
  border: 2px white solid;
}
