.btn-landing {
  border: 0;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
}

.btn-get-started {
  background: #16A085;
  width: 200px;
}

#btn-facebook {
  background: #3B5998;
  width: 200px;
}

.btn-arrow {
  background: transparent;
  border: none;
}

#btn-get-started-section, #btn-sign-in {
  background: transparent;
  border: 2px white solid;
}
