.wrap { overflow: hidden; }

.carousel {
  @include position(relative, null null null -100%);
  @include display(flex);
  @include justify-content(space-between);
  list-style: none;
  margin: 0;
  padding: 0;
  transform: translateX(100%);

  @media (min-width: 30em) {
    left: -50%;
    transform: translateX(50%);
  }

  @media (min-width: 40em) {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}

.carousel.is-reversing {
  transform: translateX(-100%);
  @media (min-width: 30em) {
    transform: translateX(-50%);
  }
  @media (min-width: 40em) {
    transform: translateX(-33.33333%);
  }
}

.carousel.is-set {
  transform: none;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-seat {
  @include flex(1 0 100%);
  @include order(2);

  @media (min-width: 30em) {
    @include flex-basis(50%);
  }

  @media (min-width: 40em) {
    @include flex-basis(33.33333%);
  }
}

.last-case, .last-editor { @include order(1); }
