.wrap { overflow: hidden; }

.carousel {
  display: flex;
  justify-content: space-between;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transform: translateX(100%);
  @media (min-width: 30em) {
    left: -50%;
    transform: translateX(50%);
  }
  @media (min-width: 40em) {
    left: -33.33333%;
    transform: translateX(33.33333%);
  }
}

.carousel.is-reversing {
  transform: translateX(-100%);
  @media (min-width: 30em) {
    transform: translateX(-50%);
  }
  @media (min-width: 40em) {
    transform: translateX(-33.33333%);
  }
}

.carousel.is-set {
  transform: none;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel-seat {
  flex: 1 0 100%;
  order: 2;

  @media (min-width: 30em) {
    flex-basis: 50%;
  }
  @media (min-width: 40em) {
    flex-basis: 33.33333%;
  }
}

.carousel-seat.is-ref { order: 1; }

.controls {
  padding: 2em;
  text-align: center;

  button {
    border: 0;
    border-radius: 0.25em;
    color: #eeeeee;
    padding: 0.5em 1em;

    &:hover,
    &:focus {
      background: #16A085;
    }
  }
}
